h1 Bienvenue !
p Nous venons de vous envoyer un email avec les information nécessaire pour configurer votre premier formulaire SimpL Form.
a[href="https://github.com/WildCodeSchool/simplonform#readme"] Consulter la documentation.
